*{
  font-family: "Roboto", sans-serif;
  margin:0;
  padding:0;
}
h1{
    text-align: center;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 10px;
}
h2{
    text-align: center;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.5;
  color: #d7d3d3;
}

h3 {
  
  font-size: 15px;
  font-weight: 300;
  color: #d3d0d0;          
  font-style: italic;    
  line-height: 2.0;
  margin: 0 auto 40px;
  max-width: 800px;
  text-align: center;
}

  .signo {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 900px;
  margin-bottom: 60px;

}
.img-cosmos{
     width: 200px;
    height:auto;
    margin-left: 125px;
}
.img-aries,
.img-capricornio,
.img-leao,
.img-sag,
.img-touro,
.img-escor,
.img-saturno,
.img-sol,
.img-constelacao,
.img-peixes,
.img-chacras,
.img-libra,
.img-cancer,
.img-virgem,
.img-gemeos,
.img-aquario,
.img-orixas,
.img-mandala{
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.img-aries:hover,
.img-capricornio:hover,
.img-leao:hover,
.img-sag:hover,
.img-touro:hover,
.img-libra:hover,
.img-cancer:hover,
.img-virgem:hover,
.img-gemeos:hover,
.img-aquario:hover,
.img-escor:hover,
.img-saturno:hover,
.img-sol:hover,
.img-peixes:hover,
.img-constelacao:hover,
.img-chacras:hover,
.img-orixas:hover,
.img-mandala:hover{
  transform: scale(1.1) translateY(-10px) rotate(2deg);
  box-shadow: 0px 15px 25px rgba(0,0,0,0.3);
}
.dourado { color: gold; }
.vermelho { color: red; }
.marrom { color: #8B4513; }
.preto { color: rgba(8, 8, 8, 0.653); }
.verde { color: green; }
.violeta { color: violet; }
.azul { color: blue; }
.celeste { color: #00CED1; }
.amarelo { color: yellow; }
.branco { color: rgba(167, 164, 164, 0.903); }
.rosa { color: rgb(161, 26, 96); }
.prata{ color:rgb(192,192,192);}
.cinza{ color:  rgb(51,51,51); }
.azulerosa{color: rgb(192, 128, 255);}
.amarelosol{color: #FFB200;}
.Energia{color: #FF6F61;}
.Mandala{color: #6CC4A1;}


body {
 background-color: #1e1e1e;
  color: #fff;
}
