*{
  font-family: "Roboto", sans-serif;
  margin:0;
  padding:0;
}
h1{
    text-align: center;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 10px;
}
h2{
    text-align: center;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.5;
  color: #444;
}

h3 {
  
  font-size: 20px;
  font-weight: 300;
  color: #555;          
  font-style: italic;    
  line-height: 1.6;
  margin: 20px;
  max-width: 800px;
}

  .signo {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 900px;
  margin-bottom: 60px;

}
.img-cosmos{
     width: 200px;
    height:auto;
    margin-left: 125px;
}
.img-aries,
.img-capricornio,
.img-leao,
.img-sag,
.img-touro,
.img-escor,
.img-saturno,
.img-sol,
.img-constelacao{
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
   cursor: pointer;
}
<<<<<<< HEAD
.img-aries:hover,
.img-capricornio:hover,
.img-leao:hover,
.img-sag:hover,
.img-touro:hover,
.img-escor:hover,
.img-saturno:hover,
.img-sol:hover,
.img-constelacao:hover{
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0,0,0,0.3);
}
=======
.dourado { color: gold; }
.vermelho { color: red; }
.marrom { color: #8B4513; }
.preto { color: rgba(8, 8, 8, 0.653); }
.verde { color: green; }
.violeta { color: violet; }
.azul { color: blue; }
.celeste { color: #00CED1; }
.amarelo { color: yellow; }
.branco { color: rgba(167, 164, 164, 0.903); }
.rosa { color: rgb(161, 26, 96); }


>>>>>>> 4f92cef38a68886988f813994704649edc6271d0
