*{
  font-family: "Roboto", sans-serif;
  margin:0;
  padding:0;
}
h1{
    text-align: center;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 10px;
}
h2{
    text-align: center;
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.5;
  color: #444;
}
  .signo {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 900px;
  margin-bottom: 60px;

}
.img-cosmos{
     width: 200px;
    height:auto;
    margin-left: 125px;
}
.img-aries,
.img-capricornio,
.img-leao,
.img-sag,
.img-touro,
.img-escor,
.img-saturno,
.img-sol,
.img-constelacao{
  height: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: all 0.4s ease;
  cursor: pointer;
   transform: scale(1.1) translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0,0,0,0.3);

}


